[Unit]
Description=zlyfer Website - Update Webhook
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/zlyfer/.local/share/fnm/node-versions/v16.16.0/installation/bin/node update.js
WorkingDirectory=/var/www/html/net.zlyfer
Restart=always
RestartSec=5
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
